<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Sobre o Autor</title>
</head>
<body>
    <h1>Autor: {{ autor.nome }}</h1>
    <h2>Formações:</h2>
    <ul>
        {% for formacao in autor.formacoes %}
        <li>{{ formacao.curso }} - {{ formacao.instituicao }} ({{ formacao.ano }})</li>
        {% endfor %}
    </ul>

    <h2>Experiências:</h2>
    <ul>
        {% for experiencia in autor.experiencias %}
        <li>{{ experiencia.funcao }} - {{ experiencia.empresa }} ({{ experiencia.ano }})</li>
        {% endfor %}
    </ul>
</body>
</html>
